<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>Tickets App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="A ticket management application." />
    <meta charset="UTF-8" />
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.auth0.com/js/auth0/9.18/auth0.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/LoadingSpinner.css" />
    <link rel="stylesheet" href="/index.css" />
  </head>
  <body>
    <nav>
      <header class="main-header">
        <span>Logo</span>
        <div class="main-header__actions">
          <i class="bx bx-plus bx-md"></i>
          <i class="bx bxs-grid bx-md"></i>
        </div>
      </header>
      <div class="main-menu">
        <div class="main-menu__team-profile">
          <img class="avatar" src="/Avatar.png" />
          <div class="team-profile__description">
            <p class="team-profile__team-name">Teams in Space</p>
            <p class="team-profile__team-type">Software project</p>
          </div>
        </div>
        <ul hx-boost="true">
          <li>
            <a href="/backlog.html">
              <i class="fa fa-table-cells-large"></i>
              <span>Backlog</span>
            </a>
          </li>
          <li><i class="fa fa-table-cells"></i> <span>Board</span></li>
          <li><i class="bx bxs-report"></i> <span>Reports</span></li>
          <li><i class="fa fa-ship"></i> <span>Releases</span></li>
          <li><i class="fa fa-box"></i> <span>Components</span></li>
          <li><i class="fa fa-bug"></i> <span>Issues</span></li>
        </ul>
        <div class="main-menu__user-profile">
          <img class="avatar" src="/Avatar.png" />
          <div class="team-profile__description">
            <p class="team-profile__team-name">Andrew Carver</p>
            <p class="team-profile__team-type">drew.carver@outlook.com</p>
          </div>
          <i class="fa fa-chevron-right"></i>
        </div>
      </div>
    </nav>
    <main>
      <h1>Board</h1>
      <div>
        <input
          type="search"
          name="title"
          placeholder="Search"
          hx-get="/tickets"
          hx-trigger="search, keyup delay:200ms changed"
          hx-target=".swimlanes"
          hx-swap="outerHTML"
        />
        <button
          class="btn"
          aria-label="Add New Ticket"
          hx-get="/show-add-dialog"
          hx-target="#dialog-anchor"
        >
          <i class="fa fa-plus"></i>
        </button>
      </div>
      <div class="swimlane-titles">
        <h2>Ready</h2>
        <h2>In Progress</h2>
        <h2>Testing</h2>
        <h2>Done</h2>
      </div>
      <div
        id="swimlanes"
        class="swimlanes"
        hx-get="/tickets"
        hx-trigger="load"
        hx-indicator="#load-swim-spinner"
        hx-swap="outerHTML"
      >
        <div class="swimlanes__lane"></div>
        <div class="swimlanes__lane"></div>
        <div class="swimlanes__lane"></div>
        <div class="swimlanes__lane"></div>
      </div>
      <div id="load-swim-spinner" class="htmx-indicator">
        <div class="lds-ring">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
    </main>
    <div id="dialog-anchor" />
  </body>
</html>
