:root {
  --main-blue: #0050c0;
}

*,
html {
  font-family: "Roboto", arial, san-serif;
  box-sizing: border-box;
}

select {
  padding: 1em;
  border-radius: 15px;
}

body {
  display: flex;
  min-height: 100vh;
  margin: 0;
}

nav {
  min-width: 15rem;
  display: flex;
  flex-direction: column;
  color: white;
  gap: 1rem;
}

main {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  overflow: auto;
  max-height: 100vh;
  flex: 1;
}

.main-header {
  background-color: var(--main-blue);
  border-radius: 0 0 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em;
}

.main-header__actions {
  display: flex;
  gap: 0.25rem;
}

.main-menu {
  border-radius: 0 15px 0 0;
  background-color: var(--main-blue);
  flex: 1 auto;
  margin: 0;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}

.main-menu ul {
  list-style-type: none;
  padding: 0;
  flex: 1;

  & li {
    text-indent: 0;
    font-size: 1rem;
    padding: 0.5em 0;
  }

  & li i {
    width: 48px;
    text-align: center;
  }

  & li span {
    padding-left: 1em;
  }

  & li:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    cursor: pointer;
  }

  & a {
    text-decoration: none;
    color: white;
  }
}

.swimlanes {
  display: flex;
}

.swimlanes__cards {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.swimlanes__lane {
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 10px;
  border-right: 1px lightgray solid;
}

.swimlanes__lane:last-child {
  border-right: none;
}

.swimlane-titles {
  display: flex;
}

.swimlane-titles h2 {
  padding-left: 8px;
  width: 25%;
}

.card {
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  transition: transform 0.5s;
  min-width: 200px;

  & p {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
  }
}

.card:hover {
  transform: scale(1.05);
  transition: 0.25s;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.modal {
  position: fixed;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.2);
  min-height: 500px;
  z-index: 100;
  min-width: 50%;
  padding: 2rem;
}

dialog::backdrop {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.1);
}

.ticket-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input {
  border-radius: 15px;
  border: 1px lightgray solid;
  padding: 1em;
  font-size: 1rem;
  font-weight: bold;
}

#add-ticket-dialog:has(.htmx-request) form {
  display: none;
}

#save-ticket-spinner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  border: none;
  padding: 0.5em 1em;
  border-radius: 15px;
  cursor: pointer;
}

.btn:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.modal__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.avatar {
  width: 3em;
  height: 3em;
  display: block;
  border-radius: 50%;
  background-color: yellow;
}

.main-menu__team-profile {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.team-profile__description p {
  margin: 0;
  margin-left: 4px;
}

.team-profile__team-name {
  font-weight: bold;
}

.team-profile__team-type {
  font-size: 12px;
}

.main-menu__user-profile {
  justify-self: flex-end;
  background-color: white;
  border-radius: 15px;
  padding: 1em 1.5em;
  color: black;
  display: flex;
  align-items: center;
  gap: 1rem;

  & .fa-chevron-right {
    color: var(--main-blue);
  }
}

.close-btn {
  background-color: unset;
  border: none;
  border-radius: 15px;
  padding: 1rem;
  cursor: pointer;

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.save-btn {
  align-self: flex-end;
  font-size: 1rem;
  background-color: var(--main-blue);
  color: white;

  &:hover {
    background-color: rgba(0, 80, 192, 0.8);
  }
}

.board-search {
  margin-right: 1rem;
}

#toast-anchor {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  top: 1rem;
  right: 1rem;
  overflow: hidden;
}

.toast {
  width: 300px;
  background-color: green;
  color: white;
  border-radius: 15px;
  animation: fadeInFromTop .20s ease-in forwards, .20s linear 3s forwards dismiss;
  overflow: hidden;

  &:hover .toast__progress-bar {
    animation-play-state: paused;
  }

  & p, h3 {
    margin: 0;
    line-height: 1.5rem;
  }
}

.toast__body {
  padding: 1rem;
}

.toast__progress-bar {
  width: 100%;
  height: 5px;
  background-color: blue;
  animation: toastprogress 3s linear;
}

@media screen and (max-width: 1300px) {
  .card {
    width: 200px;
    height: 200px;

  }

  .swimlanes {
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .swimlanes__lane {
    flex-direction: row;
    overflow: auto;
    flex-wrap: wrap;
    width: 100%;

    & h2 {
      width: 100%;
    }
  }

  .swimlanes__cards {
    flex-direction: row;
    margin-bottom: 1rem;
    gap: 1rem;
  }
}

@keyframes dismiss {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}

@keyframes toastprogress {
    0% {
      width: 100%;
    }
    100% {
      width: 0;
    }
}

@keyframes fadeInFromTop {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

